# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '$'

# Clerk authentication (required for server-side auth in API routes)

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bGVnaWJsZS10cm91dC04Mi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_z6k9mM9NOUaI9qt1pcLL7mFWRqlYorw8XQvrNMjjkn
NEXT_PUBLIC_CLERK_FRONTEND_API=legible-trout-82.clerk.accounts.dev
